.navDesktopVersion {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 40%;
  color: #ffffff;
}
.navMobileVersion {
  display: none;
}
@media (max-width: 991px) {
  .navDesktopVersion {
    display: none;
  }
  .navMobileVersion {
    display: block;
  }
}

/* .navLink {
  line-height: 20px;
  font-feature-settings: "salt" on, "liga" off;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  cursor: pointer;
} */

.nav {
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
}

.navbaractive {
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 7px 10px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 10px -11px rgba(0, 0, 0, 0.75);
  font-weight: bold;
}

.startBtn {
  background: #2d796d;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  border: none;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.heroText {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
}

@media (max-width: 768px) {
  .heroContainer {
    text-align: center;
    margin-top: -200px;
  }
  .heroText {
    font-size: 3rem;
    line-height: 70px;
  }
  .heroBtn {
    margin-top: 20px;
  }
}

.heroSubText {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-top: 25px;
  line-height: 32px;
  /* or 160% */
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
}

/* Hero BG */
.heroImg {
  position: relative;
}

.heroText1 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: -150px;
  animation: textPopUp 1s ease-in-out;
  animation-fill-mode: forwards;
}

.heroText2 {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: -50px;
  animation: textPopUp 1s 0.4s ease-in-out;
  animation-fill-mode: forwards;
}
.logoForDesktop {
  display: block;
}

@media (max-width: 1495px) {
  .heroImg {
    margin-top: 150px;
  }
  .heroImg {
    transform: scale(0.9);
  }
}

@media (max-width: 1217px) {
  .heroImg {
    transform: scale(0.8);
  }

  .heroText1 {
    left: -140px;
  }

  .heroText2 {
    right: -100px;
  }
  .logoForDesktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .heroImg {
    transform: scale(0.55);
  }

  .heroText1 {
    left: -130px;
  }

  .heroText2 {
    right: -130px;
  }
  .logoForDesktop {
    display: none;
  }
}

@media (max-width: 375.5px) {
  .heroContainer {
    margin-bottom: 50px;
    margin-top: -200px;
  }
  .heroImg {
    margin-top: 220px;
  }
  .heroText1 {
    left: -160px;
  }

  .heroText2 {
    right: -160px;
  }
  .heroBg {
    max-width: 300px;
  }
  .logoForDesktop {
    display: none;
  }
}

@keyframes textPopUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.howBck,
.billBck,
.doneBck {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  background-repeat: no-repeat, repeat;
  background-position: center top;
  /* parallex*/
  background-attachment: fixed;
  background-position: 38% 50%;
  background-repeat: no-repeat;
  padding-top: 30px;
}

.howBck {
  background-image: url("../pictures/scan.svg");
}

.billBck {
  background-image: url("../pictures/BILL.svg");
}

.doneBck {
  background-image: url("../pictures/DONE.svg");
}

@media (max-width: 768px) {
  .howBck,
  .billBck,
  .doneBck {
    background-position: 20px;
    height: 60vh;
  }
}
.title {
  /* font-size: 60px; */
  margin-top: 35px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  height: 90vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

/* .footerLogo {
	box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.7);
} */

.title,
.footerTitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
}

.titleSubText {
  font-size: 1.5rem;
  line-height: 32px;

  color: #ffffff;
}

.heroBtn {
  background: #2d796d;
  box-shadow: 3px 4px 45px rgba(45, 121, 109, 0.7);
  border-radius: 16px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 20px;
}

.howTitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  /* identical to box height */
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.32;
}
.mobileCenter {
  text-align: center;
}

.howContent {
  margin-top: 140px;
  margin-left: 80px;
}

@media (max-width: 768px) {
  .title {
    font-weight: 500;
    font-size: 1.8rem;
  }

  .titleSubText {
    font-size: 1.1rem;
  }
  .howContent {
    margin-left: 0px;
  }

  .howTitle {
    display: none;
  }
}

/* @media (min-width: 768px) {
  .greenIContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    margin-left: 80px;
    background-image: url("../pictures/card.svg");
    background-repeat: no-repeat, repeat;
    background-position: top left;
  }
} */

.greenCardContent {
  background-image: url("../pictures/card.svg");
  background-repeat: no-repeat, repeat;
  background-position: center top;
  /* parallex*/
  background-attachment: fixed;
  background-position: 55%;
  background-repeat: no-repeat;
  height: 90vh;
}

.greenCardImg {
  border-radius: 25px;
  box-shadow: 0px 0px 200px 10px rgba(45, 121, 109, 0.5);
  background-color: #1e302e;
}

.greenCardSubText {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}

.greenCardContentText {
  color: #ffffff;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .greenCardSubText {
    font-weight: 400;
    /* text-align: left; */
  }

  .greenCardContentText {
    display: none;
  }
}
.secureContentBck {
  /* parallex */
  background-image: url("../pictures/secure.svg");
  background-repeat: no-repeat, repeat;
  background-position: center top;
  background-attachment: fixed;
  background-position: 55%;
  height: 90vh;
  padding-top: 100px;
}

.secureContentDiv {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.secureImgDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.secureSubText {
  font-family: Mulish;
  font-size: 1.2rem;
  color: #fff;
}

@media (max-width: 768px) {
  .secureContentBck {
    padding-top: 100px;
    height: 50vh;
    background-image: none;
    padding-bottom: 0;
  }
  .secureContentDiv {
    text-align: center;
    margin-left: 0px;
  }

  .secureContentDiv > .title {
    margin-top: 0;
  }

  .secureSubText {
    display: none;
  }
}

/* @media (max-width: 325.5px) {
	.secureContentDiv {
	}
} */

/* USES */

.usesSection {
  padding-bottom: 800px;
  margin-bottom: 10px;
}
.whereText {
  top: 0px;
  font-size: 35px;
  left: 100px;
  position: absolute;
  text-transform: capitalize;
  color: #fff;
}
.usesImg {
  height: 90vh;
  position: relative;
}
.spaImage {
  /* top: ; */
  position: absolute;
  left: 400px;
}

.foodImage {
  position: absolute;
  top: 290px;
  left: 100px;
}
.fashionImage {
  position: absolute;
  top: 185px;
  right: 150px;
}

.cosmeticImage {
  position: absolute;
  top: 480px;
  left: 400px;
}

.beverageImage {
  position: absolute;
  top: 480px;
  right: 150px;
}

.healthImage {
  position: absolute;
  /* bottom: -550px; */
  top: 780px;
  left: 585px;
}

.salonImage {
  position: absolute;
  /* bottom: -380px; */
  top: 780px;
  left: 95px;
}
.usesBottomText {
  position: absolute;
  text-transform: capitalize;
  color: #fff;
  font-size: 35px;
  /* bottom: -380px; */
  top: 1000px;
  right: 95px;
}

/* .whereText {
	}
	.spaImage {
	}
	.foodImage {
	}
	.fashionImage {
	}
	.cosmeticImage {
	}
	.beverageImage {
	}
	.healthImage {
	}
	.salonImage {
	}
	.usesBottomText {
	} */

@media (max-width: 1399.5px) {
  .usesSection {
    padding-bottom: 600px;
  }
  .usesImg div {
    transform: scale(0.8);
  }
  .whereText {
    top: 25px;
    left: 150px;
  }
  .spaImage {
    top: 0px;
    left: 400px;
  }
  .foodImage {
    top: 250px;
    left: 150px;
  }
  .fashionImage {
    top: 165px;
    right: 50px;
  }
  .cosmeticImage {
    top: 420px;
    left: 380px;
  }
  .beverageImage {
    top: 400px;
    right: 70px;
  }
  .healthImage {
    top: 650px;
    left: 550px;
  }
  .salonImage {
    top: 670px;
    left: 130px;
  }
  .usesBottomText {
    top: 850px;
    right: 20px;
  }
}

@media (max-width: 1199.5px) {
  .usesSection {
    padding-bottom: 300px;
  }
  .usesImg div {
    /* height: 40vh; */
    transform: scale(0.6);
  }
  .whereText {
    top: 50px;
    left: 150px;
  }
  .spaImage {
    top: -20px;
    left: 350px;
  }
  .foodImage {
    top: 160px;
    left: 160px;
  }
  .fashionImage {
    top: 130px;
    right: 0px;
  }
  .cosmeticImage {
    top: 310px;
    left: 310px;
  }
  .beverageImage {
    top: 270px;
    right: 40px;
  }
  .healthImage {
    top: 460px;
    left: 460px;
  }
  .salonImage {
    top: 500px;
    left: 120px;
  }
  .usesBottomText {
    top: 680px;
    right: -10px;
  }
}

@media (max-width: 991.5px) {
  .usesSection {
    padding-bottom: 200px;
  }
  .usesImg div {
    transform: scale(0.5);
  }
  .whereText {
    top: 70px;
    left: 0px;
  }
  .spaImage {
    top: -20px;
    left: 150px;
  }
  .foodImage {
    top: 140px;
    left: -10px;
  }
  .fashionImage {
    top: 120px;
    right: 0px;
  }
  .cosmeticImage {
    top: 280px;
    left: 105px;
  }
  .beverageImage {
    top: 235px;
    right: 45px;
  }
  .healthImage {
    top: 390px;
    left: 250px;
  }
  .salonImage {
    top: 435px;
    left: -60px;
  }
  .usesBottomText {
    top: 600px;
    right: 0px;
  }
}
@media (max-width: 767.5px) {
  .usesSection {
    padding-bottom: 100px;
  }
  .usesImg div {
    transform: scale(0.6);
  }
  .whereText {
    top: 80px;
    left: -50px;
  }
  .spaImage {
    top: 80px;
    left: 150px;
  }
  .foodImage {
    top: 250px;
    left: -50px;
  }
  .fashionImage {
    top: 900px;
    right: -30px;
  }
  .cosmeticImage {
    top: 400px;
    right: -30px;
  }
  .beverageImage {
    top: 750px;
    left: -320px;
  }
  .healthImage {
    top: 560px;
    right: 0;
  }
  .salonImage {
    top: 600px;
    left: -90px;
  }
  .usesBottomText {
    width: 100px;
    top: 820px;
    right: 270px;
  }
}

/* @media (max-width: 575.5px) {
	.whereText {
	}
	.spaImage {
	}
	.foodImage {
	}
	.fashionImage {
	}
	.cosmeticImage {
	}
	.beverageImage {
	}
	.healthImage {
	}
	.salonImage {
	}
	.usesBottomText {
	}
} */

/* USES END */

.benefitSection {
  /* parallex */
  background-image: url("../pictures/benifits.svg");
  background-repeat: no-repeat, repeat;
  background-position: 150px;
  background-attachment: fixed;

  padding-top: 150px;
  margin-bottom: 10px;
}
/*  
.benefitImage {
	transition: all ease-in-out 0.3s;
} */
/* .benefitOverlay {
	height: 390px;
	width: 340px;
	height: 400px;
	width: 350px;
	color: #fff;
	position: absolute;
	left: 160px;
	bottom: 15px;
	z-index: 1;
	border-radius: 15px;
	overflow: hidden;
	background: linear-gradient(
		180deg,
		rgba(237, 237, 237, 0.1) 65%,
		rgba(45, 121, 109, 0.9) 100%
	);
}

.overlayText {
	position: absolute;
	bottom: -110px;
	left: 15px;
	text-align: left;
	transition: all ease-in-out 0.3s;
}

.overlayText > h1 {
	text-transform: uppercase;
} */

/* .benefitOverlay:hover {
	background: linear-gradient(
		180deg,
		rgba(237, 237, 237, 0.1) 65%,
		rgba(45, 121, 109, 0.9) 100%
	);
} */

/* .benefitOverlay:hover .overlayText {
	bottom: 0px;
}

.benefitOverlay:hover + .benefitImage {
	filter: blur(2px);
} */

/* NEW USES SECTION */
.benefitImgDiv {
  text-align: center;
  position: relative;
}

.benefitImgList:nth-child(2) {
  bottom: 100px;
}

.trialDiv {
  position: relative;
}

.benefitImgList {
  position: absolute;
  margin: 25px;
  display: inline-block;
  width: 350px;
  height: 400px;
  position: relative;
}

.benefitOverlay {
  position: absolute;
  top: 0;
  width: 350px;
  height: 400px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 0.1) 15%,
    rgba(45, 121, 109, 1) 100%
  );
  border-radius: 15px;
}

.benefitOverlay:hover .overlayText {
  bottom: 0px;
}

.benefitOverlay:hover ~ .benefitImg {
  filter: blur(8px);
}

.overlayText {
  position: absolute;
  text-align: left;
  bottom: -125px;
  padding: 15px;
  transition: all ease-in-out 0.3s;
  color: #fff;
}

.overlayText > h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.overlayText > p {
  margin-top: 20px;
}

.benefitImg {
  width: 350px;
  height: 400px;
  /* object-fit: contain; */
}

@media (max-width: 800px) {
  .benefitImgList {
    position: static;
    display: block;
    margin: 25px auto;
  }
}
@media (min-width: 768px) {
  .cardGridOne {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .imgAbsolute {
    position: absolute;
    padding-left: 290px;
  }
}

.offerTitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  color: #ffffff;
}

@media (max-width: 768px) {
  .offerTitle {
    font-size: 1.2rem;
  }
}

.vertParent {
  overflow: hidden;
}

.vertDiv {
  width: calc(2 * 220px * 4);
  margin-top: 25px;
}

.vertScroll img,
.vertScroll2 img {
  width: 200px;
  margin: 10px;
}

.vertScroll,
.vertScroll2 {
  display: inline-block;
  width: calc(220px * 4);
  animation: vertImgScroll 15s linear infinite;
}

@keyframes vertImgScroll {
  0% {
    transform: translateX(calc(-220px * 4));
  }
  100% {
    transform: translateX(0);
  }
}

.horizParent {
  overflow: hidden;
}

.horizDiv {
  width: calc(2 * 370px * 3);
  margin-top: 25px;
}

.horizScroll img,
.horizScroll2 img {
  width: 350px;
  margin: 10px;
}

.horizScroll,
.horizScroll2 {
  display: inline-block;
  width: calc(370px * 3);
  animation: horizImgScroll 15s linear infinite;
}
.scrollWhereText {
  font-size: 5vw;
  text-transform: capitalize;
  color: #fff;
}

.scrollBottomText {
  margin-top: 25px;
  font-size: 5vw;
  text-transform: capitalize;
  color: #fff;
}

@keyframes horizImgScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-370px * 3));
  }
}

.faqButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.questionText {
  font-family: Mulish;
  font-size: 1.6rem;
}

.ansText {
  font-family: Mulish;
  margin-top: 15px;
  font-size: 1.1rem;
}

/* .hrBorder {
	border: 0.8px solid #c4c4c4;
	height: 0px;
	background-color: #c4c4c4;
} */

.hrBorderLight {
  border: 0.8px solid #fff;
  background-color: #fff;
}

.recogCenter {
  width: 85%;
  margin: 0 auto;
  /* display: flex;
	justify-content: center;
	align-items: center; */
}

.recogParent {
  overflow: hidden;
}

.recogDiv {
  width: calc(2 * 300px * 5);
  margin-top: 25px;
}

.recogScroll img,
.recogScroll2 img {
  width: 300px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all ease-in-out 0.4s;
}

@keyframes imgLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}

.recogScroll,
.recogScroll2 {
  display: inline-block;
  width: calc(300px * 5);
  animation: imgLoop 15s linear infinite;
}

.recogScroll img:hover,
.recogScroll2 img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .recogCenter {
    width: 100%;
  }
}

/* .recogScroll:hover ~ .recogScroll2 {
	animation-play-state: paused;
}


.recogScroll2:hover ~ .recogScroll {
	animation-play-state: paused;
}

.recogScroll:hover,
.recogScroll2:hover {
	animation-play-state: paused;
} */

.paymentImg {
  padding-top: 50px;
  padding-bottom: 50px;

  width: 100%;
  height: 60vh;
  position: relative;
  /* -webkit-animation: mover 1s infinite alternate;
	animation: mover 1s infinite alternate; */
  /* -webkit-animation: mover 1s infinite alternate;
	animation: mover 1s infinite alternate; */
}
/* @-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-10px);
	}
}
@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-10px);
	}
} */
.redBlurClass {
  position: absolute;
  top: 200px;
  left: 100px;
  animation: bubble 2s 0.1s ease-in-out infinite;
}

.dGreenCircleSmallClass {
  position: absolute;
  top: 150px;
  left: 220px;
  animation: bubble 2s 0.2s ease-in-out infinite;
}

.blackGreenBlurClass {
  position: absolute;
  top: 20px;
  left: 250px;
  animation: bubble 2s 0.14s ease-in-out infinite;
}

.pinkCircleClass {
  position: absolute;
  top: 350px;
  left: 320px;
  animation: bubble 2s 0.4s ease-in-out infinite;
}

.blackWhiteBlurClass {
  position: absolute;
  top: 290px;
  left: 500px;
  animation: bubble 2s 0.5s ease-in-out infinite;
}

.dBlueCircleClass {
  position: absolute;
  top: 230px;
  left: 620px;
  animation: bubble 2s 0.12s ease-in-out infinite;
}

.purpleCircleClass {
  position: absolute;
  top: 450px;
  left: 700px;
  animation: bubble 2s 0.7s ease-in-out infinite;
}

.blueBlurClass {
  position: absolute;
  top: 100px;
  left: 750px;
  animation: bubble 2s 0.8s ease-in-out infinite;
}

.lBlueCircleClass {
  position: absolute;
  top: 300px;
  right: 600px;
  animation: bubble 2s 0.9s ease-in-out infinite;
}

.greenCircleSmallClass {
  position: absolute;
  top: 180px;
  right: 450px;
  animation: bubble 2s 0.1s ease-in-out infinite;
}

.blackGreenWhiteBlurClass {
  position: absolute;
  top: 250px;
  right: 400px;
  animation: bubble 2s 0.11s ease-in-out infinite;
}

.greenCircleClass {
  position: absolute;
  top: 420px;
  right: 250px;
  animation: bubble 2s 0.6s ease-in-out infinite;
}

.pinkBlurClass {
  position: absolute;
  top: 100px;
  right: 240px;
  animation: bubble 2s 0.13s ease-in-out infinite;
}

.yellowBlurClass {
  position: absolute;
  top: 200px;
  right: 80px;
  animation: bubble 2s 0.3s ease-in-out infinite;
}

.lGreenCircleClass {
  position: absolute;
  top: 150px;
  right: 50px;
  animation: bubble 2s ease-in-out infinite;
}

@media (max-width: 1400px) {
  .blackWhiteBlurClass {
    top: 290px;
    left: 400px;
  }

  .dBlueCircleClass {
    top: 230px;
    left: 570px;
  }

  .purpleCircleClass {
    top: 450px;
    left: 550px;
  }

  .blueBlurClass {
    top: 100px;
    left: 700px;
  }
}

@media (max-width: 1300px) {
  .blackWhiteBlurClass {
    top: 290px;
    left: 400px;
  }

  .dBlueCircleClass {
    top: 230px;
    left: 450px;
  }

  .purpleCircleClass {
    top: 450px;
    left: 550px;
  }

  .blueBlurClass {
    top: 100px;
    left: 550px;
  }

  .blackGreenWhiteBlurClass {
    top: 250px;
    right: 350px;
  }
}

@media (max-width: 1170px) {
  .blackWhiteBlurClass {
    top: 290px;
    left: 350px;
  }

  .pinkCircleClass {
    top: 350px;
    left: 280px;
  }

  .dBlueCircleClass {
    top: 230px;
    left: 350px;
  }

  .purpleCircleClass {
    top: 450px;
    left: 550px;
  }

  .blueBlurClass {
    top: 100px;
    left: 500px;
  }

  .blackGreenWhiteBlurClass {
    top: 250px;
    right: 280px;
  }

  .lBlueCircleClass {
    top: 300px;
    right: 500px;
  }

  .greenCircleSmallClass {
    top: 180px;
    right: 400px;
  }

  .yellowBlurClass {
    right: 25px;
  }

  .pinkBlurClass {
    right: 180px;
  }
}

@media (max-width: 1075px) {
  .redBlurClass {
    top: 200px;
    left: 50px;
  }

  .dGreenCircleSmallClass {
    top: 150px;
    left: 150px;
  }

  .pinkCircleClass {
    top: 350px;
    left: 200px;
  }

  .dBlueCircleClass {
    top: 230px;
    left: 280px;
  }

  .blackWhiteBlurClass {
    top: 290px;
    left: 250px;
  }

  .blueBlurClass {
    top: 100px;
    left: 450px;
  }

  .purpleCircleClass {
    top: 450px;
    left: 450px;
  }

  .blackGreenWhiteBlurClass {
    top: 250px;
    right: 200px;
  }

  .lBlueCircleClass {
    top: 300px;
    right: 450px;
  }

  .greenCircleSmallClass {
    top: 180px;
    right: 350px;
  }

  .GreenCircleClass {
    top: 420px;
    right: 200px;
  }
}

@media (max-width: 961px) {
  .paymentImg {
    height: 90vh;
  }
  .redBlurClass {
    top: 200px;
    left: 25px;
  }

  .pinkCircleClass {
    top: 350px;
    left: 150px;
  }

  .dBlueCircleClass {
    top: 230px;
    left: 220px;
  }

  .blueBlurClass {
    top: 160px;
    left: 320px;
  }

  .purpleCircleClass {
    top: 450px;
    left: 450px;
  }

  .blackGreenWhiteBlurClass {
    top: 250px;
    right: 200px;
  }

  .lBlueCircleClass {
    top: 300px;
    right: 400px;
  }

  .pinkBlurClass {
    top: 50px;
    right: 100px;
  }
  .greenCircleSmallClass {
    top: 180px;
    right: 350px;
  }

  .GreenCircleClass {
    top: 420px;
    right: 200px;
  }
}

@media (max-width: 840px) {
  .redBlurClass {
    top: 200px;
    left: 25px;
  }

  .blackWhiteBlurClass {
    top: 400px;
    left: 120px;
  }

  .pinkCircleClass {
    top: 350px;
    left: 150px;
  }

  .dBlueCircleClass {
    top: 450px;
    left: 300px;
  }

  .blueBlurClass {
    top: 200px;
    left: 250px;
  }

  .purpleCircleClass {
    top: 500px;
    left: 450px;
  }

  .blackGreenWhiteBlurClass {
    top: 320px;
    right: 200px;
  }

  .lBlueCircleClass {
    top: 300px;
    right: 400px;
  }

  .pinkBlurClass {
    top: 50px;
    right: 100px;
  }
  .greenCircleSmallClass {
    top: 180px;
    right: 350px;
  }

  .greenCircleClass {
    top: 420px;
    right: 120px;
  }

  .lBlueCircleClass {
    top: 250px;
    right: 250px;
  }

  .yellowBlurClass {
    top: 250px;
    right: 25px;
  }
}

@media (max-width: 765px) {
  .redBlurClass {
    top: 200px;
    left: 25px;
  }

  .dGreenCircleSmallClass {
    top: 150px;
    left: 150px;
  }

  .blackWhiteBlurClass {
    top: 400px;
    left: 80px;
  }

  .pinkCircleClass {
    top: 350px;
    left: 150px;
  }

  .dBlueCircleClass {
    top: 450px;
    left: 250px;
  }

  .blackGreenBlurClass {
    top: 20px;
    left: 150px;
  }

  .blueBlurClass {
    top: 200px;
    left: 200px;
  }

  .purpleCircleClass {
    top: 500px;
    left: 450px;
  }

  .blackGreenWhiteBlurClass {
    top: 320px;
    right: 200px;
  }

  .lBlueCircleClass {
    top: 300px;
    right: 400px;
  }

  .pinkBlurClass {
    top: 50px;
    right: 100px;
  }
  .greenCircleSmallClass {
    top: 180px;
    right: 250px;
  }

  .greenCircleClass {
    top: 460px;
    right: 80px;
  }

  .lBlueCircleClass {
    top: 250px;
    right: 250px;
  }

  .yellowBlurClass {
    top: 250px;
    right: 25px;
  }
}

@media (max-width: 620px) {
  .redBlurClass {
    top: 200px;
    left: 10px;
  }

  .dGreenCircleSmallClass {
    top: 150px;
    left: 150px;
  }

  .blackWhiteBlurClass {
    top: 450px;
    left: 50px;
  }

  .pinkCircleClass {
    top: 350px;
    left: 150px;
  }

  .dBlueCircleClass {
    top: 500px;
    left: 210px;
  }

  .blackGreenBlurClass {
    top: 20px;
    left: 150px;
  }

  .blueBlurClass {
    top: 300px;
    left: 200px;
  }

  .purpleCircleClass {
    top: 420px;
    left: 350px;
  }

  .blackGreenWhiteBlurClass {
    top: 450px;
    right: 200px;
  }

  .lBlueCircleClass {
    top: 350px;
    right: 400px;
  }

  .pinkBlurClass {
    top: 50px;
    right: 80px;
  }
  .greenCircleSmallClass {
    top: 200px;
    right: 200px;
  }

  .greenCircleClass {
    top: 460px;
    right: 80px;
  }

  .lBlueCircleClass {
    top: 250px;
    right: 250px;
  }
}

@media (max-width: 620px) {
  .redBlurClass {
    top: 200px;
    left: 10px;
  }

  .dGreenCircleSmallClass {
    top: 150px;
    left: 90px;
  }

  .blackWhiteBlurClass {
    top: 450px;
    left: 50px;
  }

  .pinkCircleClass {
    top: 400px;
    left: 80px;
  }

  .dBlueCircleClass {
    top: 500px;
    left: 210px;
  }

  .blackGreenBlurClass {
    top: 20px;
    left: 150px;
  }

  .blueBlurClass {
    top: 300px;
    left: 150px;
  }

  .purpleCircleClass {
    top: 400px;
    left: 300px;
  }

  .blackGreenWhiteBlurClass {
    top: 450px;
    right: 120px;
  }

  .lBlueCircleClass {
    top: 350px;
    right: 400px;
  }

  .pinkBlurClass {
    top: 20px;
    right: 50px;
  }
  .greenCircleSmallClass {
    top: 200px;
    right: 150px;
  }

  .greenCircleClass {
    top: 460px;
    right: 80px;
  }

  .lBlueCircleClass {
    top: 250px;
    right: 200px;
  }
}

@media (max-width: 480px) {
  .redBlurClass {
    top: 200px;
    left: 10px;
  }

  .dGreenCircleSmallClass {
    top: 150px;
    left: 90px;
  }

  .blackWhiteBlurClass {
    top: 480px;
    left: 25px;
  }

  .pinkCircleClass {
    top: 400px;
    left: 80px;
  }

  .dBlueCircleClass {
    top: 550px;
    left: 180px;
  }

  .blackGreenBlurClass {
    top: 20px;
    left: 60px;
  }

  .blueBlurClass {
    top: 350px;
    left: 150px;
  }

  .purpleCircleClass {
    top: 300px;
    left: 150px;
  }

  .blackGreenWhiteBlurClass {
    top: 450px;
    right: 20px;
  }

  .lBlueCircleClass {
    top: 280px;
    left: 200px;
  }

  .pinkBlurClass {
    top: 20px;
    right: 50px;
  }
  .greenCircleSmallClass {
    top: 200px;
    right: 150px;
  }

  .greenCircleClass {
    top: 400px;
    right: 20px;
  }

  .lBlueCircleClass {
    top: 200px;
    left: 125px;
  }
  .yellowBlurClass {
    top: 220px;
    right: 25px;
  }
}

@media (max-width: 376px) {
  .redBlurClass {
    top: 200px;
    left: 10px;
  }

  .dGreenCircleSmallClass {
    top: 170px;
    left: 90px;
  }

  .blackWhiteBlurClass {
    top: 480px;
    left: 25px;
  }

  .pinkCircleClass {
    top: 400px;
    left: 50px;
  }

  .dBlueCircleClass {
    top: 550px;
    left: 180px;
  }

  .blackGreenBlurClass {
    top: 20px;
    left: 20px;
  }

  .blueBlurClass {
    top: 350px;
    left: 100px;
  }

  .purpleCircleClass {
    top: 300px;
    left: 150px;
  }

  .blackGreenWhiteBlurClass {
    top: 450px;
    right: 20px;
  }

  /* .lBlueCircleClass {
		top: 280px;
		left: 3000px;
	} */

  .pinkBlurClass {
    top: 20px;
    right: 50px;
  }
  .greenCircleSmallClass {
    top: 200px;
    right: 150px;
  }

  .greenCircleClass {
    top: 400px;
    right: 20px;
  }

  .lBlueCircleClass {
    top: 200px;
    left: 125px;
  }
  .yellowBlurClass {
    top: 220px;
    right: 25px;
  }
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/* OFFER ENDS */

.footerTitle {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 2px;
}

.mobLogo {
  display: flex;
  align-items: center;
}

.mobLogo p {
  margin-bottom: 0;
}

.mobCopy {
  flex: 0.6;
}
.mobLinks {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.mobLinks a {
  text-decoration: none;
  color: #fff;
  padding-top: 6px;
}

.mobSocials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.mobSocials a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .footerTitle {
    text-align: left;
    font-size: 2.3rem;
  }
}
